{% extends 'registration/base.html' %}
{% block title %} - Notice {% endblock %}
{% block container %}
	<!-- Login Starts !-->
	<div class="container-fluid activation" style="margin-top:5%;">
		<div class="row">
			<div class="col col-lg-4 col-sm-4 col-md-4 col-xs-12 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4 class="text-center text-danger">Hi User!<br><br>
                            Sorry for the in-convenience with our system, we have noted this request and have removed your
                            user details with our system. <br>
                            If you receive anonymous requests again, kindly inform us!

                            <br><br>iGo - Admin
                        </h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Login  Ends !-->
{% endblock %}