{% extends 'registration/base.html' %}
{% block title %} - Register {% endblock %}
{% block container %}
	<!-- Login Starts !-->
	<div class="container-fluid register">
		<div class="row">
			<div class="col col-lg-4 col-sm-4 col-md-4 col-xs-12 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
				{% if not form_success %}
				<div class="panel panel-default">
					<div class="panel-body">
						<h5 class="text-center">Create an account</h5>
						<form action="" method="post" class="form-horizontal reg_form" role="form" id="reg_form">
							{% csrf_token %}
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-user"></i></div>
								<input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
								<div class="input-group-addon" style="display: none;"><i class="fa fa-user"></i></div>
							</div><br>
                            <div class="input-group">
								<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
								<input type="text" class="form-control" name="email" id="email" placeholder="Email Address" required>
								<div class="input-group-addon" style="display: none;"><i class="fa fa-envelope"></i></div>
							</div><br>
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-key"></i></div>
								<input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
								<div class="input-group-addon" style="display: none;"><i class="fa fa-key"></i></div>
							</div><br>
                            <div class="input-group">
								<div class="input-group-addon"><i class="fa fa-key"></i></div>
								<input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" required>
								<div class="input-group-addon" style="display: none;"><i class="fa fa-key"></i></div>
							</div>
							<script> 
								$('#cpassword').on('keydown', function(e){
									if(e.which == 13){
										$('#reg_btn').click();
									}
								});
							</script>
							<p class="error-msg text-center text-danger">{% if form_error %} {{ form_error}} {% endif %}</p>
							<div class="form-group text-center">
								<button type="button" class="btn btn-sm btn-success" id="reg_btn"><i
										class="fa fa-user-plus"></i> Register</button>
								<button type="button" class="btn btn-sm btn-primary" onclick="window.location='{% url 'login' %}'">
                                    <i class="fa fa-arrow-left"></i> Back to login</button>
							</div>
						</form>
					</div>
				</div>
				{% else %}
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="text-center text-primary">Registration Successful<br></h3>
							<h5 class="text-center text-primary">Check your email for verification token.</h5>
							<div class="form-group text-center">
								<button type="button" class="btn btn-sm btn-primary" onclick="window.location='{% url 'login' %}'">
                                    <i class="fa fa-arrow-left"></i> Try login</button>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Login  Ends !-->
{% endblock %}