{% extends 'home/base.html' %}
{% block title %} - Active Users {% endblock %}
{% block container %}
{% load static %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Online Users
				</div>
				<div class="panel-body" style="padding:0px;height:435px;overflow-y:scroll;scrollbar-base-color: orange;scrollbar-arrow-color: green;scrollbar-DarkShadow-Color: blue; ">
					<ul class="list-group" style="margin-bottom:0px;" id="chat_active"></ul>
					<script>setInterval($('#chat_active').load("{% url 'home:chat:active_userlist' %}"),1000);</script>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}